*         text=auto
*.txt		  text
*.vcproj	text eol=crlf
*.sh		  text eol=lf
*.jpg		  binary
*.pickle filter=lfs diff=lfs merge=lfs -text
*.xz     filter=lfs diff=lfs merge=lfs -text
*.gz     filter=lfs diff=lfs merge=lfs -text
