[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.3.3"
flask-wtf = "==1.1.1"
numpy = "==1.26.0"
prometheus-flask-exporter = "==0.22.4"
scikit-learn = "==1.2.2"

[dev-packages]

[requires]
python_version = "3.10"
