[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==3.1.0"
flask-wtf = "==1.2.2"
numpy = "==1.26.4"
prometheus-flask-exporter = "==0.23.2"
scikit-learn = "==1.6.1"
werkzeug = ">=3.0.6"
zipp = ">=3.19.1"

[dev-packages]

[requires]
python_version = "3.11"
