# Reference docs: https://stackoverflow.com/questions/61686058/check-if-there-are-new-commits-since-the-latest-tag
name: Release
on:
  workflow_run:
    workflows:
      - Tagging
    types:
      - completed
    branches:
      - main
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    if: ${{ contains(github.ref, 'main') && github.event.workflow_run.conclusion == 'success' || github.event_name == 'workflow_dispatch' }}
    steps:
      - name: Check out repository code
        uses: actions/checkout@v6
        with:
          lfs: 'true'
      - name: Fetch remote tags
        run: git fetch origin +refs/tags/*:refs/tags/*
      - name: Set Tag Value
        run: |
          export DATE=v$(echo `date +'%Y.%m'`)
          echo "DATE=${DATE}" >> $GITHUB_ENV
          echo "TAG=$(echo `git tag -l ${DATE}`)" >> $GITHUB_ENV
      - name: Create Release
        uses: actions/github-script@v8
        id: release
        if: ${{ env.TAG }}
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          result-encoding: string
          script: |
            const { repo: { owner, repo }, sha } = context;
            const tag = process.env.DATE;
            let release_id = 0;
            try {
              const release = await github.rest.repos.createRelease({
                owner, repo,
                tag_name: tag,
                generate_release_notes: true
              });
              release_id = release.data.id;
            } catch (e) {
              if (e.status == 422) { // Release already exists
                const latest = await github.rest.repos.getLatestRelease({
                  owner,
                  repo
                });
                release_id = latest.data.id;
              } else {
                throw e;
              }
            }
            return release_id
